<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mrx.mapper.DiaryMapper">


    <select id="selectDiaryList" resultType="com.ruoyi.mrx.domain.Diary">
        <include refid="selectDiaryVo"/>
        <where>
            deleted =0
            <if test="weather != null  and weather != ''">and weather = #{weather}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="diaryTime != null ">and diary_time = #{diaryTime}</if>
            <if test="title != null  and title != ''">and title = #{title}</if>
        </where>
        order by update_time desc
    </select>
    <select id="selectDiaryById" resultType="com.ruoyi.mrx.domain.Diary">
        <include refid="selectDiaryVo"/>
        where id = #{id}
        and deleted =0
    </select>


    <sql id="selectDiaryVo">
        select id, weather, content, create_time, update_time, diary_time, title, catagory
        from personal_diary
    </sql>
</mapper>